@tailwind base;
@tailwind components;
@tailwind utilities;


.DONErounded {
  border-radius: 1.5rem;
}
.DONEwrapper {
  width: 100%;
}
.DONEcontainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgba(55, 65, 81, 1);
  width: 100%;
}
#DONEwelcome {
  margin-top: 2.5rem;
}
#DONEwelcome h1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  /* /* line-height: 1; */
}
#DONEwelcome span {
  display: block;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
}
#DONEhero {
  align-items: center;
  background-color: hsla(214, 62%, 21%, 1);
  border: none;
  box-sizing: border-box;
  color: rgba(55, 65, 81, 1);
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 3.5rem;
}
#DONEhero .text-container {
  color: rgba(255, 255, 255, 1);
  padding: 3rem 2rem;
}
#DONEhero .text-container h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
}
#DONEhero .text-container h2 svg {
  color: hsl(162, 47%, 50%);
  height: 2rem;
  left: -0.25rem;
  position: absolute;
  top: 0;
  width: 2rem;
}
#DONEhero .text-container h2 span {
  margin-left: 2.5rem;
}
#DONEhero .text-container a {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.75rem;
  color: rgba(55, 65, 81, 1);
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  text-decoration: inherit;
}
#DONEhero .logo-container {
  display: none;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
#DONEhero .logo-container svg {
  color: rgba(255, 255, 255, 1);
  width: 66.666667%;
}
#DONEmiddle-content {
  align-items: flex-start;
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
  margin-top: 3.5rem;
}
#DONElearning-materials {
  padding: 2.5rem 2rem;
}
#DONElearning-materials h2 {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: -0.025em;
  line-height: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.DONElist-item-link {
  align-items: center;
  border-radius: 0.75rem;
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  width: 100%;
}
.DONElist-item-link svg:first-child {
  margin-right: 1rem;
  height: 1.5rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  width: 1.5rem;
}
.DONElist-item-link > span {
  flex-grow: 1;
  font-weight: 400;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.DONElist-item-link > span > span {
  color: rgba(107, 114, 128, 1);
  display: block;
  flex-grow: 1;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.DONElist-item-link svg:last-child {
  height: 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  width: 1rem;
}
.DONElist-item-link:hover {
  color: rgba(255, 255, 255, 1);
  background-color: hsla(162, 47%, 50%, 1);
}
.DONElist-item-link:hover > span {
}
.DONElist-item-link:hover > span > span {
  color: rgba(243, 244, 246, 1);
}
.DONElist-item-link:hover svg:last-child {
  transform: translateX(0.25rem);
}
#other-links {
}
.DONEbutton-pill {
  padding: 1.5rem 2rem;
  transition-duration: 300ms;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  display: flex;
}
.DONEbutton-pill svg {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  flex-shrink: 0;
  width: 3rem;
}
.DONEbutton-pill > span {
  /* letter-spacing: -0.025em; */
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.DONEbutton-pill span span {
  display: block;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
}
.DONEbutton-pill:hover svg,
.DONEbutton-pill:hover {
  color: rgba(255, 255, 255, 1) !important;
}

#DONEnx-console:hover {
  background-color: rgba(0, 122, 204, 1);
}
#DONEnx-console svg {
  color: rgba(0, 122, 204, 1);
}

#DONEnx-repo:hover {
  background-color: rgba(24, 23, 23, 1);
}
#DONEnx-repo svg {
  /* color: rgba(24, 23, 23, 1); */
}
#DONEnx-cloud {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 2.5rem 2rem;
}
#DONEnx-cloud > div {
  align-items: center;
  display: flex;
}
#DONEnx-cloud > div svg {
  border-radius: 0.375rem;
  flex-shrink: 0;
  width: 3rem;
}
#DONEnx-cloud > div h2 {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#DONEnx-cloud > div h2 span {
  display: block;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
}
#DONEnx-cloud p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}
#DONEnx-cloud pre {
  margin-top: 1rem;
}
#DONEnx-cloud a {
  color: rgba(107, 114, 128, 1);
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 1.5rem;
  text-align: right;
}
#DONEnx-cloud a:hover {
  text-decoration: underline;
}
#DONEcommands {
  padding: 2.5rem 2rem;
  margin-top: 3.5rem;
}
#DONEcommands h2 {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#DONEcommands p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
Zdetails {
  align-items: center;
  display: flex;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
DONEdetails pre > span {
  color: rgba(181, 181, 181, 1);
  display: block;
}
DONEsummary {
  border-radius: 0.5rem;
  display: flex;
  font-weight: 400;
  padding: 0.5rem;
  cursor: pointer;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
DONEsummary:hover {
  background-color: #f3f4f6;
}
DONEsummary svg {
  height: 1.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}
#DONElove {
  color: rgba(107, 114, 128, 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 3.5rem;
  opacity: 0.6;
  text-align: center;
}
#DONElove svg {
  color: #fca5a5;
  width: 1.25rem;
  height: 1.25rem;
  display: inline;
  margin-top: -0.25rem;
}
@media screen and (min-width: 768px) {
  #NONEhero {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  #NONEhero .logo-container {
    display: flex;
  }
  #NONEmiddle-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
